* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  /* visual height */
  min-height: 100vh;
}

MAIN {
  flex-grow: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

header,
footer {
  background-color: white;
  padding: 10px;
}

header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
}

footer {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

header .logo {
  width: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-btw {
  justify-content: space-between;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

header ul li a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: darkslateblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

img {
  max-width: 100%;
}

/* hero section */

.hero-section {
  background-color: #161616;
  color: white;
  padding: 30px 0;
}

.hero-section .text-side,
.hero-section .image-side {
  width: 50%;
}

.hero-section h1 {
  font-size: 61px;
}

.hero-section h1 span {
  color: #64ccc5;
}

.mb20 {
  margin-bottom: 20px;
}

.brands h4 {
  color: #64ccc5;
}

.hero-section .brands {
  margin-top: 60px;
}

.hero-section .brands img {
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .hero-section .text-side,
  .hero-section .image-side {
    width: 100%;
  }

  .brands .row {
    flex-direction: row;
  }
  .hero-section .brands img {
    /* height: 40px; */
    max-width: 25%;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
